---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Riley the Robot</title>
		<style type="text/css">
			body {
				font-family: sans-serif;
			}

			html, body {
				height: 100%;
				margin: 0;
				padding: 0;

				background-color: #000;
			}

			main {
				height: 100vh;
				max-height: -webkit-fill-available; /* You suck iOS */
			}

			.typography {
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
			}

			h1, h2 {
				margin: 0;
				padding: 0;
			}

			h1 {
				color: #eee;
			}

			h2 {
				color: #ccc;
			}
		</style>
	</head>
	<body>
		<main>
			<header class="typography">
				<h1>Riley the Robot</h1>
				<h2>Coming Soon</h2>
			</header>
		</main>
	</body>
</html>
